include README AUTHORS CHANGES LICENSE ChangeLog
recursive-include pyvisa *
recursive-include docs *
recursive-include examples *
prune docs/build
global-exclude *.pyc *~ .DS_Store *__pycache__* *.pyo
