name: Continuous Integration
on:
  schedule:
    - cron: "0 0 * * 2"
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ci.yml
      - "pyvisa/**"
      - pyproject.toml
      - setup.cfg
      - setup.py

jobs:
  formatting:
    name: Check code formatting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install tools
        run: |
          python -m pip install --upgrade pip
          pip install flake8 black isort mypy pytest numpy
      - name: Isort
        run: |
          isort pyvisa -c;
      - name: Black
        if: always()
        run: |
          black pyvisa --check;
      - name: Flake8
        if: always()
        run: |
          flake8 pyvisa;
      - name: Mypy
        if: always()
        run: |
          mypy pyvisa;
  tests:
    name: Unit tests
    runs-on: ${{ matrix.os }}
    needs:
      - formatting
    if: needs.formatting.result == 'success'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install numpy
      - name: Install project
        run: |
          pip install -e .
      - name: Test with pytest
        run: |
          pip install pytest-cov
          python -X dev -m pytest --pyargs pyvisa --cov pyvisa --cov-report xml -v
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: unittests
          name: codecov-umbrella
          fail_ci_if_error: true

  # Added to summarize the matrix (otherwise we would need to list every single
  # job in bors.toml)
  tests-result:
    name: Tests result
    if: always()
    needs:
      - tests
    runs-on: ubuntu-latest
    steps:
      - name: Mark the job as a success
        if: needs.tests.result == 'success'
        run: exit 0
      - name: Mark the job as a failure
        if: needs.tests.result != 'success'
        run: exit 1
