name: Documentation building
on:
  schedule:
    - cron: "0 0 * * 2"
  push:
    branches:
      - main
      - staging
      - trying
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/docs.yml
      - "pyvisa/**"
      - "docs/**"
      - setup.py

jobs:
  docs:
    name: Docs building
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r docs/requirements.txt
      - name: Install project
        run: |
          pip install .
      - name: Install graphviz
        uses: ts-graphviz/setup-graphviz@v1
      - name: Build documentation
        run: |
          mkdir docs_output;
          sphinx-build docs/source docs_output -W -b html;
